GOOGLE_GENERATIVE_AI_API_KEY=
OPENROUTER_API_KEY=

# Appwrite Cloud Config
PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
PUBLIC_APPWRITE_PROJECT_ID=
PUBLIC_APPWRITE_DATABASE_ID=
PUBLIC_APPWRITE_COLLECTION_RECETAS=
PUBLIC_APPWRITE_COLLECTION_MENU=
APPWRITE_API_KEY=
